<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Todo Management App</title>
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="todo-app.css">
</head>
<body>
    <h1 class="TodoPage-title">My Todo-list</h1>
    <section class="AddTodo">
        <input type="text" class="AddTodo-text" placeholder="What's next?" />
        <input type="date" class="AddTodo-date" />
        <input type="button" class="AddTodo-button" value="Add">
    </section>

    <%= render partial: "todo-section", locals: {
        section_title: "Overdue",
        todos: Todo.overdue,
        show_due_date: true
    } %>
    <%= render partial: "todo-section", locals: {
        section_title: "Due Today",
        todos: Todo.due_today,
        show_due_date: false
    } %>
    <%= render partial: "todo-section", locals: {
        section_title: "Due Tommorow", 
        todos: Todo.due_later,
        show_due_date: true
    } %>

    
</body>
</html>