<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Todo Management App</title>
</head>
<body>
    <h1 class="TodoPage-title">My Todo-list</h1>
    <form class="AddTodo" action="/todos" method="POST">
        <input type="text" class="AddTodo-text" placeholder="What's next?" name="todo_text" />
        <input type="date" class="AddTodo-date" name="due_date" />
        <input type="submit" class="AddTodo-button" value="Add" />
    </form>
 
    <%= render partial: "todo-section", locals: {
        section_title: "Overdue",
        todos: @todos.overdue,
        show_due_date: true
    } %>
    <%= render partial: "todo-section", locals: {
        section_title: "Due Today",
        todos: @todos.due_today,
        show_due_date: false
    } %>
    <%= render partial: "todo-section", locals: {
        section_title: "Due Tommorow", 
        todos: @todos.due_later,
        show_due_date: true
    } %>

    
</body>
</html>